In [43]:
import cx_Oracle

In [44]:
connection=cx_Oracle.connect("system","test","localhost/oracle10")
cursor=connection.cursor()
rs=cursor.execute("select * from countries")

In [45]:
import pandas as pd
for row in rs:
    print(row)

('AR', 'Argentina', 2)
('AU', 'Australia', 3)
('BE', 'Belgium', 1)
('BR', 'Brazil', 2)
('CA', 'Canada', 2)
('CH', 'Switzerland', 1)
('CN', 'China', 3)
('DE', 'Germany', 1)
('DK', 'Denmark', 1)
('EG', 'Egypt', 4)
('FR', 'France', 1)
('IL', 'Israel', 4)
('IN', 'India', 3)
('IT', 'Italy', 1)
('JP', 'Japan', 3)
('KW', 'Kuwait', 4)
('ML', 'Malaysia', 3)
('MX', 'Mexico', 2)
('NG', 'Nigeria', 4)
('NL', 'Netherlands', 1)
('SG', 'Singapore', 3)
('UK', 'United Kingdom', 1)
('US', 'United States of America', 2)
('ZM', 'Zambia', 4)
('ZW', 'Zimbabwe', 4)

In [46]:
%load_ext sql
%sql oracle://system:test@localhost/?service_name=oracle10

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: system@'

In [47]:
%sql select * from countries

 * oracle://system:***@localhost/?service_name=oracle10
0 rows affected.

[('AR', 'Argentina', 2),
 ('AU', 'Australia', 3),
 ('BE', 'Belgium', 1),
 ('BR', 'Brazil', 2),
 ('CA', 'Canada', 2),
 ('CH', 'Switzerland', 1),
 ('CN', 'China', 3),
 ('DE', 'Germany', 1),
 ('DK', 'Denmark', 1),
 ('EG', 'Egypt', 4),
 ('FR', 'France', 1),
 ('IL', 'Israel', 4),
 ('IN', 'India', 3),
 ('IT', 'Italy', 1),
 ('JP', 'Japan', 3),
 ('KW', 'Kuwait', 4),
 ('ML', 'Malaysia', 3),
 ('MX', 'Mexico', 2),
 ('NG', 'Nigeria', 4),
 ('NL', 'Netherlands', 1),
 ('SG', 'Singapore', 3),
 ('UK', 'United Kingdom', 1),
 ('US', 'United States of America', 2),
 ('ZM', 'Zambia', 4),
 ('ZW', 'Zimbabwe', 4)]